.wrapper {
  padding: 4rem;
  margin-bottom: 2rem;
  border-radius: 0.3rem;
}

@media only screen and (max-width: 600px) {
  .wrapper {
    padding: 2rem 1.5rem;
  }
}

@media only screen and (min-width: 992px) {
  .wrapper {
    padding: 4rem 0 4rem 3.5rem;
  }
}

@media only screen and (min-width: 1200px) {
  .wrapper {
    padding: 4rem 0 4rem 7rem;
  }
}

.wrapper__title {
  margin-bottom: 0.5rem;
  font-size: 4rem;
  font-weight: 300;
  line-height: 1.2;
  margin-top: 0;
  color: white;
}

.wrapper__slogan {
  font-size: 1.25rem;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 1rem;
  color: white;
}
