#login {
  padding: 20px;
  border: $form-border;
  background-color: $background-color;
  max-width: 316px;
  margin: 0 auto;

  form {
    width: 270px;
  }

  #login__forgot-wrapper {
    text-align: right;
  }

  #login__register {
    margin-bottom: 0;
  }
}
