#login__row {
  position: relative;
  top: 30vh;
  margin-right: 10vw;
}

#login__col {
  padding: 20px;
  border: $form-border;
  background-color: $background-color;
  max-width: 316px;
  margin: 0 auto;

  #login__forgot-wrapper {
    text-align: right;
  }
}
