#landing {
  height: 100%;

  #landing__vertical {
    position: relative;
    top: 40%;
  }

  #landing__col {
    padding: 20px;
    font-size: 16px;
    color: $black-text;
    border-radius: 10px;
    border: $form-border;
    background-color: $background-color;

    #landing__col__title {
      color: $title-color;
    }
  }
}
