body,
html {
  height: 100%;
  margin: 0;
  font-family: "Raleway", sans-serif;
}

#app {
  height: 100%;
}

// Scroll bar
/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c1c1c1;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}
